<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <v-text-field :value="category.id" label="ID" readonly></v-text-field>
        <v-row>
          <v-col cols="10">
            <v-textarea v-model="image" label="image"></v-textarea>
          </v-col>
          <v-col cols="2" v-html="image"></v-col>
        </v-row>
        <v-text-field
          :value="category.title"
          label="Наименование"
          @input="changing($event, `title`)"
        ></v-text-field>
        <v-textarea
          :value="category.description"
          label="Описание"
          @input="changing($event, `description`)"
        ></v-textarea>
        <v-text-field :value="category.tags" label="Tags" @input="changing($event, `tags`)"></v-text-field>
        <v-btn small color="secondary" @click="$router.back()">Отменить</v-btn>
        <v-btn small color="primary" @click="save">Сохранить</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      image: ""
    };
  },
  computed: {
    ...mapState("categories", { category: "category" })
  },
  methods: {
    changing(value, field) {
      this.$store.commit("categories/update", { field, value });
    },
    save() {
      if (this.category.id === 0) this.$store.dispatch("categories/store");
      else this.$store.dispatch("categories/save");

      this.$router.back();
    }
  },
  fetch({ store, route }) {
    if (route.params.id !== "0")
      store.dispatch("categories/get", route.params.id);
  }
};
</script>

<style>
</style>