<template>
  <section>
    <v-toolbar dense class="mb-2">
      <v-btn icon title="Добавить новую категорию" @click="addNewCategory">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-btn icon title="Удалить категорию и подкатегории" @click="deleteCategory">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
      <v-btn icon title="Назад" @click="back">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-toolbar-title>Title</v-toolbar-title>
    </v-toolbar>
    <v-data-table :items="categories" :headers="headers" class="elevation-1" dense>
      <template v-slot:body="{ items }">
        <tbody>
          <tr
            v-for="item in items"
            :key="item.id"
            @dblclick="$router.push(`categories/${item.id}`)"
          >
            <td>{{ item.id }}</td>
            <td v-html="item.image"></td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{item.tags}}</td>
            <td>
              <v-btn
                icon
                :title="`Добавить подкатегорию к категории ${item.title}`"
                @click="addSubCategory(item.id)"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </td>
            <td>
              <v-btn icon title="Показать подкатегории" @click="showSubCategories(item)">
                <v-icon>mdi-forward</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-data-table>
  </section>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      parents: []
    };
  },
  computed: {
    ...mapState("categories", { categories: "categories" }),
    headers() {
      return [
        { text: "ID", value: "id" },
        { text: "Иконка", value: "image" },
        { text: "Наименование", value: "title" },
        { text: "Описание", value: "description" },
        { text: "Tags", value: "tags" },
        { text: "" },
        { text: "" }
      ];
    }
  },
  methods: {
    addSubCategory(id) {
      this.$store.commit("categories/default");
      this.$store.commit("categories/update", {
        field: "parent_id",
        value: id
      });
      this.$router.push("/admin/categories/0");
    },
    addNewCategory() {
      this.$store.commit("categories/default");
      this.$router.push("/admin/categories/0");
    },
    showSubCategories({ id, parent_id }) {
      this.parents.push(parent_id);
      this.$store.dispatch("categories/load", id);
    },
    back() {
      if (this.parents.length === 0) return;
      const id = this.parents.pop();
      this.$store.dispatch("categories/load", id);
    },
    deleteCategory(){

    }
  },
  created() {
    this.$store.dispatch("categories/load", this.parent_id);
  }
};
</script>

<style>
</style>