<template>
  <v-app id="inspire">
    <v-app-bar app clipped-right color="blue-grey" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title class="mr-3">Admin Panel</v-toolbar-title>
        <v-btn title="Каталог категорий" icon @click="$router.push('/admin/categories')">
          <v-icon>mdi-format-list-text</v-icon>
        </v-btn>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" app />
    <v-content>
      <v-container fluid app>
          <nuxt keep-alive />
      </v-container>
    </v-content>
    <v-footer app color="blue-grey" class="white--text">
      <span>ShoppZilla - Admin</span>
      <v-spacer />
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
  })
};
</script>